:root {
  --dark : #0096E0;
  --light : #B8E1FF;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main{
  padding: 30px;
}

.header{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--dark);
  color: var(--light);
  padding: 20px;
}

.header--img{
  height: 200%;
  margin: 20px;
}

.header--title{
  font-size: 35px;
  margin-left: 20px;
}
.header--text{
  margin-left: 400px;
  /* display: flex;
  align-items: baseline;
  align-content: flex-end;
  flex-wrap: wrap; */
}
.download-btn{
  /* position: absolute; */
  color: white;
  background-color: var(--dark);
  border-radius: 5px;
  border: 2px solid var(--dark);
  font-size: 15px;
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template: 60px 40px / 1fr 1fr;
  gap: 10px; 
  /* min-width: 60vw; */
  max-width: 55vw;
  position: relative;
  top: 10px; 
  left: 18vw;
}
/* .top{
  grid-column: span 2;
  display: grid;
}
.bottom{
  grid-column: span 2;
  display: grid;
} */
.form--input{
  font-family: "Karla", sans-serif;
  border : 2px solid var(--dark);
  border-radius: 5px;
  text-indent: 5px;
  height: 40px;
  width: 100%;
  outline: none;
}

.form--button{
  /* grid-column: span 3; */
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background: linear-gradient(111.4deg, rgb(122, 192, 233) 18.8%, rgb(4, 161, 255) 100.2%);
}

.form--label{
  display: block;
  color: #374151;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}

.img--contianer {
  position: relative;
  /* top: 8vh;
  left: 25vw;  */

  background-color: lightblue;
  height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8vh auto 0 auto; /* Adjust the margin instead of using top and left */
}
 

.meme--img{
  /* instead of maxheight do height = 100% image takes full height for the div then */
  height: 100%;
  max-width: 100%;
}

.meme--text{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.top{
  max-width: 100%;
  top: 0;
}
.bottom {
  max-width: 100%;
  bottom: 0;
}
.image--picker{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  /* center vertically and horizontally  */
  top: 50%; 
  left: 50%;
  /* for centering the element wrt div  */
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
}


.image--picker > img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

