:root {
  --dark : #0096E0;
  --light : #B8E1FF;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main{
  padding: 36px;
}

.header{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--dark);
  color: var(--light);
  padding: 20px;
}

.header--img{
  height: 200%;
  margin: 20px;
}

.header--title{
  font-size: 35px;
  margin-left: 20px;
}

.download-btn{
  color: white;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  font-size: 15px;
  padding: 8px;
  margin-left: 45vw;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 60px 40px / 1fr 1fr;
  gap: 20px; 
  /* min-width: 60vw; */
  max-width: 55vw;
  position: relative;
  top: 40px; 
  left: 18vw;
}

.form--input {
  font-family: "Karla", sans-serif;
  border : 2px solid var(--dark);
  border-radius: 5px;
  text-indent: 5px;
  height: 40px;
  width: 100%;
  outline: none;
}

.form--button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background: linear-gradient(111.4deg, rgb(122, 192, 233) 18.8%, rgb(4, 161, 255) 100.2%);
}

.form--label{
  display: block;
  color: #374151;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}